/* import syntax highlighting */
@import "/css/syntax.css";

/* default light theme.
sorry if it looks convoluted, the variables are to reduce repetition of rules! */
:root {
	--page-bg: white;
	--page-bg-img: url("/img/bg-light.png");
	--text-color: black;
	--body-bg: #f7f7f7;
	--body-border: #aaa;
	--link-color: #1836a8;
	--link-hover-color: #1646db;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--page-bg: #1a1a1a;
		--page-bg-img: url("/img/bg-dark.png");
		--text-color: white;
		--body-bg: #333;
		--body-border: #aaa;
		--link-color: #adc1ff;
		--link-hover-color: #dbe4ff;
	}
}

html {
	background: var(--page-bg-img) var(--body-bg);
}

body {
	font-family: sans-serif;
	color: var(--text-color);
	background: var(--body-bg);
	max-width: 80%;
	padding: 15px;
	border: 2px solid var(--body-border);
	border-radius: 5px;
	margin: auto;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	display: inline;
	text-decoration: none;
	margin-right: 2px;
}

a {
	color: var(--link-color);
	transition-duration: 0.15s;
}

a:hover {
	color: var(--link-hover-color);
}

pre {
	padding: 5px;
	overflow: scroll;
	border-radius: 5px;
}

main img {
	max-width: 85%;
	margin-left: 7.5%; 
	margin-right: 7.5%; 
}
